<div class="p-4">

  <app-header-stats></app-header-stats>


  <section class="charts mt-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="chart-container rounded-2 p-3">
          <app-bar
            [values] = [surface_values]
            [labels] = [surface_number] 
            >
          </app-bar>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="chart-container rounded-2 p-3">
          <app-pie
            [values] = [rooms_values]
            [labels] = [rooms_number]          
          ></app-pie>
        </div>
      </div>
    </div>
  </section>
  
  

  <section class="charts mt-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="chart-container rounded-2 p-3">
          <form>
            <mat-form-field appearance="fill">
              <mat-label>choose your city</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="city" (selectionChange)="onChangeCity()">
                <mat-option *ngFor="let city of cities" [value]="city.value">
                  {{city.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <app-pie
          [values] = [distinc_city_rooms_values]
          [labels] = [distinc_city_rooms_number] 
          ></app-pie>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="chart-container rounded-2 p-3">
          <div class="container table-responsive py-5 table-statistique"> 
            <app-table
              [displayedColumns] = "displayedColumns"
              [dataSource] = "dataSource"
            ></app-table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>