<div class="p-4">

  <app-header-stats></app-header-stats>


  <section class="charts mt-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="chart-container rounded-2 p-3">
          <h3 class="fs-6 mb-3">Chart title number one</h3>
          <app-bar></app-bar>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="chart-container rounded-2 p-3">
          <h3 class="fs-6 mb-3">Chart title number two</h3>
          <app-pie
            [values] = [rooms_values]
            [labels] = [rooms_number]          
          ></app-pie>
        </div>
      </div>
    </div>
  </section>
  
  

  <section class="charts mt-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="chart-container rounded-2 p-3">
          <h3 class="fs-6 mb-3">Chart title number one</h3>
          <app-pie></app-pie>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="chart-container rounded-2 p-3">
          <h3 class="fs-6 mb-3">Chart title number two</h3>
          <canvas id="myChart2"></canvas>
        </div>
      </div>
    </div>
  </section>
</div>