<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async; index as i" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <div [ngSwitch]="i">

            <app-header-stats *ngSwitchCase="0"></app-header-stats>


            <!-- the same view can be shown in more than one case -->
            <app-pie *ngSwitchCase="1"></app-pie>
            <app-table 
            [dataSource] = "dataSource"
            [displayedColumns] = "displayedColumns"
            *ngSwitchCase="2"
            ></app-table>
            <app-bar [data]='data5' *ngSwitchCase="3"></app-bar>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
