<table class="items-center w-full bg-transparent border-collapse">
  <thead>
    <tr >
      <th
        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left
        bg-blueGray-50 text-blueGray-500 border-blueGray-100" 
        *ngFor="let columns of displayedColumns"
        >
        {{columns}}
      </th>        
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataSource">
      <td
        
        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
      >
        {{data?.name}}
      </td>
      <td
        
        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
      >
        {{data?.position}}
      </td>
      <td
        
        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
      >
        {{data?.weight}}
      </td>
      <td
        
        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
      >
        {{data?.symbol}}
      </td>
    </tr>
    
  </tbody>
</table>