<!-- <div style="margin-top:20px">
  <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" (keyup)="search($event)"  placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

      <div class="card" style="width: 18rem;">
          <div class="card"  *ngFor="let t of contentSources" >
            <img src="https://ds1.static.rtbf.be/article/image/1920xAuto/0/1/5/200c07cf771d7d27141b85ddaa829968-1584361739.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{t._source.title}}</h5>
              <p class="card-text">{{t._source.content}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
         
        </div>
  

 
</div>
<br> -->

<mat-spinner *ngIf="load"></mat-spinner>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let appartement of appartements | paginate: { itemsPerPage: pageSize, currentPage: page , totalItems:length } " >
      <app-house-items  
        [appartement]='appartement'>
      </app-house-items>  
    </div>
  </div>
</div>
<mat-paginator *ngIf="!load" [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               aria-label="Select page"
               (page)="onPageChange($event)"
              >
</mat-paginator>
